
<h1 class="page-title">Shipment Details </h1>
    <div class="section-container">
      
        <strong>Invoice NO:</strong> <%= invoiceno %><br>
        <strong>Vendor:</strong> <%= vendor %><br>
        <strong>Order Date:</strong> <%= orderDate %><br>
        <strong>Expected Date:</strong> <%= expectedDate %><br>
        <strong>Total:</strong> <%= total %><br>
        
    </div>

    
    <h2 class="section-title">Inventory</h2>
    <div class="full-width-table">
        <table>
            <thead>
                <tr>
                    <th>VIN</th>
                    <th>Scooter</th>
                    <th>Client</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <% inventory.forEach(item => { %>
                    <tr>
                        <td><a href="/inventory/<%= item._id %>"><%= item.vin %></a></td>
                        <td><%= `${item.color} ${item.make} ${item.model}` %></td>
                        <td></td>
                        <td></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
  
    <!-- provide functionality to mark when an order has arrived -->
    <!-- will cascade to all the inventory within the shipment  -->
    <% if (ship_status === 'ORDERED') { %>
        
        <form action="/shipment/arrived/<%= shipID %>" method="POST">
            <button type="submit">Mark As Arrived</button>
        </form>
        
        
    <% } %>

  