<h1 class="page-title">Shipment Details </h1>
<div class="section-container">

    <strong>Invoice NO:</strong>
    <%= data.invoiceno %><br>
        <strong>Status:</strong>
        <%= data.ship_status %><br>
            <strong>Vendor:</strong>
            <%= data.shipmentVendor %><br>
                <strong>Order Date:</strong>
                <%= data.orderDate %><br>
                    <strong>Expected Date:</strong>
                    <%= data.expectedDate %><br>
                        <strong>Total:</strong>
                        <%= data.total %><br>
                            <% if (data.ship_status==='ORDERED' ) { %>
                                <form action="/update/shipment/arrived" method="POST">
                                    <input type="hidden" name="shipID" value="<%= data._id %>">
                                    <button type="submit">Mark As Arrived</button>
                                </form>
                                <% } %>



</div>

<div class="section-container">
    <h2 class="section-title">Inventory</h2>
    <div class="full-width-table">
        <table>
            <thead>
                <tr>
                    <th>VIN</th>
                    <th>Scooter</th>
                </tr>
            </thead>
            <tbody>
                <% inventory.forEach(item=> { %>
                    <tr>
                        <td><a href="/inventory/<%= item._id %>">
                                <%= item.vin %>
                            </a></td>
                        <td>
                            <%= `${item.color} ${item.make} ${item.model}` %>
                        </td>

                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>


</div>