<h1 class="page-title">
    <%= data.make %>
        <%= data.model %>
</h1>

<div class="model-img-container">

    <% if (data.image) { %>
        <img id="makemodelimg" src="<%= data.image %>" alt="">
        <% } else { %>
            <img id="makemodelimg" src="/images/unknown-scooter.png" alt="">
            <% } %>
</div>



<div class="button-container">
    <button id="uploadButton">Upload Image</button>
</div>

<div class="section-container" id="uploadSection" style="display: none;">
    <form action="/update-model-image" class="upload-image" id="uploadForm" method="post" enctype="multipart/form-data">
        <input type="file" name="image" id="imageInput">
        <input type="hidden" name="data" value="<%= data %>">
        <input type="hidden" name="make" value="<%= data.make %>">
        <input type="hidden" name="model" value="<%= data.model %>">
        <button type="submit">Submit</button>
    </form>
</div>



<div class="section-container">
    <h2 class="section-title">Mechanic Notes</h2>

    <div id="mechanicNotesDisplay">
        <p id="mechanicNotesText">
            <%= data.mechanic_notes || "No notes available." %>
        </p>
    </div>

    <button type="button" id="editMechanicButton" onclick="editMechanicNotes()">Edit</button>

    <form id="mechanicNotesForm" action="/updatemechanicnotes/<%= data.make %>/<%= data.model %>/updateNotes"
        method="post" style="display: none;">
        <textarea id="mechanic_notes" name="mechanic_notes"><%= data.mechanic_notes %></textarea>
        <br><br>
        <button type="submit">Submit</button>
        <button type="button" id="cancelMechanicButton" onclick="cancelEditMechanic()">Cancel</button>
    </form>
</div>

<script>
    function editMechanicNotes() {
        // Show the form and hide the display paragraph
        document.getElementById('mechanicNotesDisplay').style.display = 'none';
        document.getElementById('mechanicNotesForm').style.display = 'block';
    }

    function cancelEditMechanic() {
        // Hide the form and show the display paragraph
        document.getElementById('mechanicNotesForm').style.display = 'none';
        document.getElementById('mechanicNotesDisplay').style.display = 'block';
    }
</script>


<div class="section-container">
    <h2 class="section-title">Inventory</h2>
    <% if (inventory) { %>
        <div class="full-width-table">
            <table>
                <thead>
                    <tr>
                        <th>Vin</th>
                        <th>Color</th>
                    </tr>
                </thead>

                <% inventory.forEach(item=> { %>
                    <tr>
                        <td> <a href="/inventory/<%= item._id %>">
                                <%= item.vin %>
                            </a> </td>
                        <td> <a href="/inventory/<%= item._id %>">
                                <%= item.color %>
                            </a> </td>
                    </tr>

                    <% }); %>
            </table>
        </div>

        <% } %>
</div>


<script>
    // upload photo functionality 
    document.addEventListener("DOMContentLoaded", function () {
        const uploadButton = document.getElementById('uploadButton');
        const uploadSection = document.getElementById('uploadSection');

        uploadButton.addEventListener('click', function () {
            uploadButton.style.display = 'none';
            uploadSection.style.display = 'block';
        });
    });
</script>