<h1>
    <%= pageTitle %>
</h1>

<div class="section-container">
    hello
</div>



    <% if (models.length > 0) { %>
        <div class="full-width-table">
            <p ><strong>Model List</strong></p>
            <table>
                
            <thead>
                <tr>
                    <th>Scooter Model</th>
              
                </tr>
            </thead>

       <tbody>
            <% models.forEach(model => { %>
                
                <tr>
                    
                    <td><a href="/mechanichub/<%= model.make %>/<%= model.model %>"> <%= model.make %> <%= model.model %>  </a></td>
                    
                    </tr>
                <% }); %>
            </tbody>
        </table>
            </div>
    <% } else { %>
        <p>No models found.</p>
    <% } %>


<!-- <% if (models.length> 0) { %>
    <div class="full-width-table">
        <thead>
            <tr>
                <th>Make</th>
                <th>Model</th>
            </tr>
        </thead>
        <tbody>
            <% models.forEach(model=> { %>
            <tr>
                <td><% model.make %></td>
                <td>< %model.model %></td>
            </tr>
         
                
         
            <% }); %>
         
        </tbody>
    </div>
    <% } %> 
     -->