<h1 class="page-title">
    <%= pageTitle %>
</h1>

<div class="section-container" style="background:none;">
    <div class="card-container ">


        <% if (models.length> 0) { %>

            <% models.forEach(model=> { %>
                <a href="/mechanichub/<%= model.make %>/<%= model.model %>">
                    <div class="card">
                        <div class="image-holder">

                            <img id="model-card-img" src="<%= model.image %> " alt="">
                        </div>


                        <strong>
                            <h2>
                                <%= model.make %>
                                    <%= model.model %>
                            </h2>
                        </strong>
                        <p></p>
                    </div>
                </a>



                <% }); %>

                    <% } else { %>
                        <p>No models found.</p>
                        <% } %>


    </div>
</div>