<h1 class="page-title">Client overview </h1>


<div class="section-container">

    <strong>Total Clients: <%= totalClients%></strong> <br>


    <button onclick="window.location.href='/newClient'" class="btn btn-primary">New Client</button>

</div>



<table class="full-width-table">
    <thead>
        <tr>
            <th>Client</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Scooter</th>
            <th>Order Status</th>
            <th>Client Status</th>
        </tr>
    </thead>


    <tbody>
        <% clients.forEach(function(client) { %>
            <tr>

                <td>
                    <a href="/clients/<%= client._id %>">
                        <%= client.first %>
                            <%= client.last %>
                    </a>
                </td>
                <td>
                    <%= client.email %>
                </td>
                <td>
                    <%= client.phone_number %>
                </td>
                <td>
                    <%= client.address.street %>, <%= client.address.city %>, <%= client.address.state %>, <%=
                                    client.address.zipcode %>
                </td>
                <td>
                    <%= client.scooter %>
                </td>
                <td>
                    <%= client.order_status %>
                </td>
                <td>
                    <%= client.client_status %>
                </td>

            </tr>
            <% }); %>
    </tbody>

</table>