<h1 class="page-title">Client details
</h1>




<div class="section-container">

    <strong>Client: <%= clientName %></strong><br>
    <strong>Email:</strong>
    <%= clientData.email %><br>
        <strong>Phone:</strong>
        <%= clientData.phone_number %><br>
            <strong>Address:</strong>
            <%= clientData.address.street %>, <%= clientData.address.city %>, <%= clientData.address.state %>, <%=
                            clientData.address.zipcode %><br>
                            <strong>Total order:</strong>
                            <%= sales.length %><br>
                                <strong>Client ID:</strong>
                                <%= clientData._id %><br>
</div>




<button onclick="window.location.href='/newSales'" class="btn btn-primary" id="newOrderBtn">New Order</button>

<br><br>


<div class="section-container">
    <h2 class="section-title">Client Notes</h2>

    <div id="notesDisplay">
        <p id="notesText">
            <%= clientData.notes || "No notes available." %>
        </p>
    </div>

    <button type="button" id="editButton" onclick="editNotes()">Edit</button>

    <form id="notesForm" action="/clients/<%= clientData._id %>/update-notes" method="post" style="display: none;">
        <textarea id="client_notes" name="client_notes"><%= clientData.notes %></textarea>
        <br><br>
        <button type="submit">Submit</button>
        <button type="button" id="cancelButton" onclick="cancelEdit()">Cancel</button>
    </form>
</div>



<% if (sales.length> 0) { %>
    <table class="full-width-table">
        <thead>
            <tr>
                <th>Sale ID</th>
                <th>Date Initiated</th>
                <th>Sale Price</th>
                <th>Down Payment</th>
                <th>Completed</th>
            </tr>
        </thead>
        <tbody>
            <% sales.forEach(sale=> { %>
                <tr>
                    <td>
                        <%= sale._id %>
                    </td>
                    <td>
                        <%= new Date(sale.date_initiated).toLocaleDateString("en-US") %>
                    </td>
                    <td>$
                        <%= sale.sale_price.toFixed(2) %>
                    </td>
                    <td>$

                        <%= sale.down_payment_amount.toFixed(2) %>
                    </td>
                    <td>
                        <%= sale.date_completed ? new Date(sale.date_completed).toLocaleDateString("en-US") : "Pending"
                            %>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
    <% } else { %>
        <p>No sales data available for this client.</p>
        <% } %>



            <script>
                function editNotes() {
                    document.getElementById('notesDisplay').style.display = 'none';
                    document.getElementById('editButton').style.display = 'none';
                    document.getElementById('notesForm').style.display = 'block';
                }

                function cancelEdit() {
                    document.getElementById('notesDisplay').style.display = 'block';
                    document.getElementById('editButton').style.display = 'inline';
                    document.getElementById('notesForm').style.display = 'none';
                }
            </script>