<h1 class="page-title">Client details
</h1>




<div class="section-container">

    <strong>Client: <%= clientName %></strong><br>
    <strong>Email:</strong>
    <%= clientData.email %><br>
        <strong>Phone:</strong>
        <%= clientData.phone_number %><br>
            <strong>Address:</strong>
            <%= clientData.address.street %>, <%= clientData.address.city %>, <%= clientData.address.state %>, <%=
                            clientData.address.zipcode %><br>
                            <strong>Total order:</strong>
                            <%= sales.length %><br>

</div>




<button onclick="window.location.href='/newSales'" class="btn btn-primary">New Order</button>




<br>

<!--show notes in a section div. has edit button. when it clicked, it shoud pop a txtarea and peple can type it in there. 
at the same time, the edit button become submit button and also shows a cancel button on the side.
after click submit, the note will append on the note section, and edit txtarea will dispare and the edit button comeback.--> 
<div class="section-container">
    <h2 class="section-title">Client Notes</h2>

        <p>clientData.notes</p>

        <button type="button" id="editButton">Edit</button>

    <form action="/appendNewClientNote%>" method="post" style="display: none;">
        <!-- <input type="hidden" name="make" value="<%= data.make %>">
        <input type="hidden" name="model" value="<%= data.model %>"> -->
        
        <textarea id="client_notes" name="client_notes" readonly>
                    <% if (clientData.notes) { %>
                        <%= clientData.notes %>
                    <% } %>
                </textarea>
        <br><br>

      
    </form>
   
    <button type="submit" id="submitButton" style="display: none;">Submit</button>
    <button type="button" id="cancelButton" style="display: none;">Cancel</button>
</div>




<% if (sales.length> 0) { %>
    <table class="full-width-table">
        <thead>
            <tr>
                <th>Sale ID</th>
                <th>Date Initiated</th>
                <th>Sale Price</th>
                <th>Down Payment</th>
                <th>Completed</th>
            </tr>
        </thead>
        <tbody>
            <% sales.forEach(sale=> { %>
                <tr>
                    <td>
                        <%= sale._id %>
                    </td>
                    <td>
                        <%= new Date(sale.date_initiated).toLocaleDateString("en-US") %>
                    </td>
                    <td>$
                        <%= sale.sale_price.toFixed(2) %>
                    </td>
                    <td>$

                        <%= sale.down_payment_amount.toFixed(2) %>
                    </td>
                    <td>
                        <%= sale.date_completed ? new Date(sale.date_completed).toLocaleDateString("en-US") : "Pending"
                            %>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
    <% } else { %>
        <p>No sales data available for this client.</p>
        <% } %>