<h1 class="page-title">Client details
</h1>




<div class="section-container">

    <strong>Client: <%= clientName %></strong><br>
    <strong>Email:</strong>
    <%= clientData.email %><br>
        <strong>Phone:</strong>
        <%= clientData.phone_number %><br>
            <strong>Address:</strong>
            <%= clientData.address.street %>, <%= clientData.address.city %>, <%= clientData.address.state %>, <%=
                            clientData.address.zipcode %><br>
                            <strong>Total order:</strong>
                            <%= sales.length %><br>

</div>




<button onclick="window.location.href='/newSales'" class="btn btn-primary">New Order</button>




<br>

<% if (sales.length> 0) { %>
    <table class="full-width-table">
        <thead>
            <tr>
                <th>Sale ID</th>
                <th>Date Initiated</th>
                <th>Sale Price</th>
                <th>Down Payment</th>
                <th>Completed</th>
            </tr>
        </thead>
        <tbody>
            <% sales.forEach(sale=> { %>
                <tr>
                    <td>
                        <%= sale._id %>
                    </td>
                    <td>
                        <%= new Date(sale.date_initiated).toLocaleDateString("en-US") %>
                    </td>
                    <td>$
                        <%= sale.sale_price.toFixed(2) %>
                    </td>
                    <td>$

                        <%= sale.down_payment_amount.toFixed(2) %>
                    </td>
                    <td>
                        <%= sale.date_completed ? new Date(sale.date_completed).toLocaleDateString("en-US") : "Pending"
                            %>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
    <% } else { %>
        <p>No sales data available for this client.</p>
        <% } %>