<h1 class="page-title">

    <%= inventory.year %>
        <%= inventory.color %>
            <%= inventory.make %>
                <%= inventory.model %>
</h1>


<link rel="stylesheet" href="<%= customCSS %>">

<div class="section-container inventory-details">

    <strong>VIN: </strong>
    <%= inventory.vin %><br>
        <strong>Status: </strong>
        <%= inventory.status_id %><br>
            <strong>CCs: </strong>
            <%= inventory.ccs %><br>
                <strong>Price: </strong>
                <%= inventory.retail_price %><br>

                    <form id="statusForm" action="/inventory/<%= inventory._id %>/update-status" method="POST">
                        <strong>Status: </strong>
                        <select id="statusSelect" name="newStatus">
                            <option value="ORDERED">Ordered</option>
                            <option value="ARRIVED">Arrived</option>
                            <option value="ASSEMBLED">Assembled</option>
                            <option value="READY TO SELL">Ready to Sell</option>
                            <option value="SOLD">Sold</option>
                            <option value="RETRIEVED">Retrieved</option>
                        </select>

                        <button id="statusFormBtn" type="submit">Submit</button>

                        <!-- </div> -->
                    </form>
</div>

<!-- <div class="section-container" id="uploadSection" style="display: none;">
    <form action="/update-inventory-image" class="upload-image" id="uploadForm" method="post" enctype="multipart/form-data">
        <input type="file" name="image" id="imageInput">
        <input type="hidden" name="id" value="<%= inventory._id %>">
        <button type="submit">Submit</button>
    </form>
</div> -->

<div class="button-container">
    <button><a href="/shipment/<%= inventory.shipmentID %>">
            View Shipment Details</a></button>
    <!-- <button id="uploadButton">Upload Image</button> -->
</div>

<div class="section-container sale-section">
    <h2 class="section-title">Sale</h2>
    <% if (sale !=null) { %>
        <strong>Sale Price: </strong>$<%= sale.sale_price %><br>
            <strong>Down Payment Amount: </strong>$<%= sale.down_payment_amount %><br>
                <strong>Date Initiated:</strong>
                <%= sale.date_initiated %><br>
                    <% if (sale.date_completed) { %>
                        <strong>Date Completed:</strong>
                        <%= sale.date_completed %><br>
                            <% } else { %>
                                <p>Sale still in progress.</p>
                                <% } %>
                                    <% } %>
</div>


<div class="section-container client-section">
    <h2 class="section-title">Client</h2>
    <% if (clientData !=null) { %>
        <strong>Name:</strong> <a href="/clients/<%= clientData._id %>">
            <p>
                <%= clientData.first %>
                    <%= clientData.last %>
            </p>

        </a><br>

        <% } %>
</div>

<script>
    // upload photo functionality 
    document.addEventListener("DOMContentLoaded", function () {
        const uploadButton = document.getElementById('uploadButton');
        const uploadSection = document.getElementById('uploadSection');

        uploadButton.addEventListener('click', function () {
            uploadButton.style.display = 'none';
            uploadSection.style.display = 'block';
        });
    });
</script>